<!DOCTYPE html>
<html lang="en">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-5-circle" viewBox="0 0 16 16">
  <path d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8m15 0A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-8.006 4.158c-1.57 0-2.654-.902-2.719-2.115h1.237c.14.72.832 1.031 1.529 1.031.791 0 1.57-.597 1.57-1.681 0-.967-.732-1.57-1.582-1.57-.767 0-1.242.45-1.435.808H5.445L5.791 4h4.705v1.103H6.875l-.193 2.343h.064c.17-.258.715-.68 1.611-.68 1.383 0 2.561.944 2.561 2.585 0 1.687-1.184 2.806-2.924 2.806Z"/>
</svg>
<body>

    <h1>Welcome To The Home Page</h1>
    <h2>This is The Full Page</h2>

    <div class="container">
        <form action="">
            <div class="mb-3">
                <label for="searchMovie" class="form-label">
                    Search for Movie:
                </label>
                <input type="text" class="form-control" name="searchMovie"/>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <p>Searching for: {{ searchTerm }}</p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for movie in movies %}
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{{ movie.image.url }}" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        {% if movie.url %}
                        <a href="{{ movie.url }}" class="btn btn-primary">
                            Movie Link
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br />
    </div>

</body>
</html>
